<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/proto</property>
        <property name="hibernate.connection.username">proto</property>
        <property name="hibernate.connection.password">proto</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    	<!-- 
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">proto</property>
        <property name="hibernate.connection.password">proto</property>
        <property name="hibernate.default_schema">proto</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
         -->
    	<!--
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/TestDB</property>
        -->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping resource="com/sysdelphia/hibernate/proto/User.hbm.xml"/>
        <mapping resource="com/sysdelphia/hibernate/proto/WorkItem.hbm.xml"/>
        <mapping resource="com/sysdelphia/hibernate/proto/Note.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
